<div class="header-background tt">
  <div class="sticky-nav" id="nav">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index.html">Khanhdo<br />&Homies</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
          <span></span>
          <span></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#aboutUs">About us</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Members
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li (click)="setIndex(1)">
                  <a class="dropdown-item" routerLink="kdo"
                    >KhanhDo - Chu tich</a
                  >
                </li>
                <li (click)="setIndex(2)">
                  <a class="dropdown-item" routerLink="atuan">AnhTuanNhaTa</a>
                </li >
                <li  (click)="setIndex(3)"><a class="dropdown-item" routerLink="tsex">Thanh sex</a></li>
                <li (click)="setIndex(4)">
                  <a class="dropdown-item" routerLink="gate">Thuan Gate</a>
                </li>
                <li (click)="setIndex(5)"><a class="dropdown-item" routerLink="tnam">Thanh Nam</a></li>
                <li (click)="setIndex(6)"><a class="dropdown-item" routerLink="mbin">Manh Bin</a></li>
                <li (click)="setIndex(7)">
                  <a class="dropdown-item" routerLink="dbh">Dac vu double H</a>
                </li>
             
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li (click)="setIndex(0)">
                  <a class="dropdown-item" href="#team">View all Members</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#ourServices"
                >The fuck is this page about?</a
              >
            </li>
          </ul>
          <form class="d-flex">
            <a class="btn" href="#contact">Contact us</a>
          </form>
        </div>
      </div>
    </nav>
  </div>
  <h1
    class="heading"
    style="
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    "
  >
    お前はもう死んでる！<br />{{msg}}
  </h1>
  <div
    class="container d-flex align-items-center justify-content-center acc"
    id="animation"
  ></div>
</div>
