<div class="container-fluid sdd" id="aboutUs">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-6 column-left column-left-img">
      <img
        src="https://github.com/thanhnamf/language1/blob/main/me.JPG?raw=true"
        alt="bim"
      />
      <img
        src="https://github.com/thanhnamf/language1/blob/main/me2.JPG?raw=true"
        alt="bim"
      />
      <img
        src="https://github.com/thanhnamf/language1/blob/main/me.PNG?raw=true"
        alt="bim"
      />
      <img
        src="https://github.com/thanhnamf/language1/blob/main/me1.JPG?raw=true"
        alt="bim"
      />
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-6 column-right">
      <h1 class="section-title">About Thuan Gate</h1>
      <p
        class="paragraph"
        style="
          font-style: italic;
          font-family: 'Courier New', Courier, monospace;
        "
      >
        "Đa hình là khả năng của một đối tượng có thể nhận nhiều hình thái khác
        nhau. Cách dùng phổ biến của đa hình trong OOP là khi một tham chiếu của
        lớp cha được dùng để tham chiếu đến đối tượng của lớp con"

        <br /><span style="color: #ec7474"
          >- Đinh Thế Thuận - <br />Thành viên Language Never Die</span
        >
      </p>

      <p
        class="paragraph"
        style="
          font-style: italic;
          font-family: 'Courier New', Courier, monospace;
        "
      >
        <span style="color: #ec7474">Sơ yếu bóc lịch:</span><br />
        ・Nhà: nghèo<br />
        ・Tình trạng quan hệ: Yêu qua bluetooth<br />
        ・Kinh nghiệm đi tù: Chưa<br />

        ・Tuổi: 20<br />
        ・Ngành học: SE<br />
        ・Nghề nghiệp hiện tại: Fresher<br />
      </p>

      <p
        class="paragraph"
        style="
          font-style: italic;
          font-family: 'Courier New', Courier, monospace;
        "
      >
        <span style="color: #ec7474">Sở trường:</span><br />
   
        ・Chưa từng bị học lại<br>
                    ・2 lần được sinh viên giỏi, trong đó có 1 lần suýt xuất sắc =)))))<br>
                    ・Hồi nhỏ được khá nhiều phiếu bé ngoan<br>
                    ・Mõm<br>
      </p>

      <p
        class="paragraph"
        style="
          font-style: italic;
          font-family: 'Courier New', Courier, monospace;
        "
      >
        <span style="color: #ec7474">Sở đoản:</span><br />
        ・Chưa lần nào out trình được
        <a style="text-decoration: underline" href="kdo.html"
          >Chủ Tịch - Khanh Do</a
        ><br />
        ・Hay quên<br />
        ・Quá ngầu<br />
      </p>
      <div class="social-meadia" style="display: inline">
        <a
          target="blank"
          href="https://www.facebook.com/profile.php?id=100007939719785"
        >
          <img
            class="logo"
            src="https://thuanmit11.github.io/LanguageNeverDie/fonts/fbLogo.png"
            alt="fb"
            id="logo1"
          />
        </a>
        <a target="blank" href="https://www.instagram.com/thuangatee/">
          <img
            src="https://github.com/thanhnamf/language1/blob/main/fonts/igLogo.png?raw=true"
            alt="igLogo"
            class="logo"
          />
        </a>
        <div
          onclick="phoneRead('phoneNum')"
          style="display: inline; cursor: pointer"
        >
          <img
            src="https://thuanmit11.github.io/LanguageNeverDie/fonts/phone.png"
            alt="phone"
            class="logo"
          />
        </div>
        <p id="phoneNum" style="display: none">0368821614</p>
      </div>
      <a
        style="display: inline-block"
        style="float: right"
        href="index.html#team"
        id="valid-form"
        class="btn btn-color"
        >View other Members</a
      >
    </div>
  </div>
</div>
