<div class="container-fluid sdd" id="aboutUs">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-6 column-left column-left-img">
            <img src="https://github.com/thanhnamf/language1/blob/main/tnam1.JPG?raw=true" alt="tnam">
            <img src="https://github.com/thanhnamf/language1/blob/main/tnam4.jpg?raw=true" alt="tnam">
            <img src="https://github.com/thanhnamf/language1/blob/main/tnam2.JPG?raw=true" alt="tnam">
            <img src="https://github.com/thanhnamf/language1/blob/main/tnam5.jpg?raw=true" alt="tnam">



        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6 column-right">
            <h1 class="section-title">About Thanh Nam</h1>
            <p class="paragraph" style="font-style: italic; font-family: 'Courier New', Courier, monospace;">
                "Tuổi trẻ  mua đồ rẻ  là ngu"

                <br><span style="color:#ec7474">- Nguyễn Thành Nam - <br>Thành viên
                    Language Never Die</span>

            </p>

            <p class="paragraph" style="font-style: italic; font-family: 'Courier New', Courier, monospace;">
                <span style="color:#ec7474">Sơ yếu bóc lịch:</span><br>
                ・Nhà: giàu<br>
                ・Tình trạng quan hệ: ngày 7 lần<br>
                ・Kinh nghiệm đi tù: Chưa<br>

                ・Tuổi: 20<br>
                ・Ngành học: AI<br>
                ・Nghề nghiệp hiện tại: BlockTrain =))))<br>
            </p>

            <p class="paragraph" style="font-style: italic; font-family: 'Courier New', Courier, monospace;">

                <span style="color:#ec7474">Sở trường:</span><br>
                ・Ngầu<br>
                ・Biết chơi guitar, có kinh nghiệm chơi đàn nguyệt<br>
                ・Mõm ác, có thể mõm về tất cả các vấn đề trên thế giới (lịch sử, chính trị, khoa học...)<br>
                ・Rất tâm lý với các bạn gái<br>
            </p>


            <p class="paragraph" style="font-style: italic; font-family: 'Courier New', Courier, monospace;">
                <span style="color:#ec7474">Sở đoản:
                </span><br>
              
                
                ・Ngáo<br>
                ・Rất hay quên<br>
                ・Lười vai lon, đ muốn làm gì =)))))))<br>
                
            </p>

            <div class="social-meadia" style="display: inline;">
                <a target="blank" href="https://www.facebook.com/thanhnammmmmmmm"> <img class="logo"
                        src="https://thuanmit11.github.io/LanguageNeverDie/fonts/fbLogo.png" alt="fb" id="logo1">
                </a>
                <a target="blank" href="https://www.instagram.com/nthanh.nammmmm/">
                    <img src="https://thuanmit11.github.io/LanguageNeverDie/fonts/igLogo.png" alt="igLogo"
                        class="logo">
                </a>
                <div onclick="phoneRead('phoneNum')" style="display:inline; cursor: pointer;">
                    <img src="https://thuanmit11.github.io/LanguageNeverDie/fonts/phone.png" alt="phone"
                        class="logo">

                </div>
                <p id="phoneNum" style="display:none; ">0776455154</p>
            </div>
            <a style="display: inline-block;" style="float: right;" href="index.html#team" id="valid-form"
                class="btn btn-color">View other
                Members</a>
        </div>

    </div>





</div>